body {
	margin: 0;
	padding:0;
	background: #fff;
        color:#472a1c;
}
html {
	margin: 0;
	padding:0;
	background: transparent;
}

label {
	font-size:14px;
	padding-top:3px;
}

/*****For Modal Box*****/

.yt-adModalContainer{
    width:590px;
}

.ya-adModalInnerContainer {
    width: 100%;
    padding:0 0 0 25px;
}
.yt-topOfModal img{
    float: left;
    width:83px;
    height:83px;
    border: solid 2px #999;
    display:block;
    margin-top:20px;
}
.yt-adModalRightSideText{
    float:left;
    text-align:left;
    margin-left:25px;
}
.yt-adModalRightSideText h3{
    margin: 5px 0px 10px 0px;
    font: normal 19px "Lucida Grande",Sans-Serif;
}

.adModalIntroText{
    padding:15px 0px;
}

.modalContentBlock{
    height:90px;
}

.modalContentBlock img{
    float:left;
    width:62px;
    height:62px;
    margin-top:5px;
    border: none;
}

.modalContentBlockText{
    float:left;
    margin-right:45px;
    padding-left:20px;
}
.modalContentUpperText
{
	margin-top:10px;
	margin-right:30px;
}
.modalContentImgText
{
	padding: 2px 45px 0 80px;
}




.yt-adModalbigButtons{
    height:60px;
    padding-left:0px;
    width:540px;
}

a.adModalleftBigButton{
    float:left;
    background: url(../images/btn_bigLeftBrown.png) no-repeat top right ;
}

a.adModalrightBigButton{
    float:right;
    background: url(../images/btn_bigRightGreen.png) no-repeat top left ;
}

a.adModalleftBigButton, a.adModalrightBigButton{
    width: 256px;
    height:56px;
    display:block;
    text-indent: -9999px;
}
a.adModalrightBigButton:hover, a.adModalleftBigButton:hover{
    background-position: right bottom;
}




.yt-adModalGoogleAdBox{
    width: 480px;
    /*display:block;*/
}
.yt-adScissors{
    background: url(../images/scissors.png) no-repeat top left;
    height:15px;
    display:block;
    margin:0;
    padding:0;
}
.yt-adGoogleAdContent{
    border: 1px dashed #888;
    display:block;
    margin:0;
    padding:2px;
    text-align:center;
}

/*.yt-adModalGoogleAdCut{
    background: url(../images/bg_modalAd.png) no-repeat top left;
    height:104px;
    width:480px;
    display:block;
    margin:5px 0px 0px 20px;
    padding: 20px 0 0;
    text-align:center;
}*/
p.infoMessage{
    color:#999;
    font-size: 10px;
}
