<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
		<section type="Facebook.FacebookConfigurationSection, Facebook" name="facebookSettings" allowLocation="true" allowDefinition="Everywhere"/>
		<sectionGroup name="modulesSection">
			<section name="rewriteModule" type="RewriteModule.RewriteModuleSectionHandler, RewriteModule"/>
		</sectionGroup>
		<sectionGroup name="compositeWeb">
			<section name="modules" type="Microsoft.Practices.CompositeWeb.Configuration.ModulesConfigurationSection, Microsoft.Practices.CompositeWeb"/>
			<section name="authorization" type="Microsoft.Practices.CompositeWeb.Configuration.AuthorizationConfigurationSection, Microsoft.Practices.CompositeWeb"/>
		</sectionGroup>
		<section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter"/>
		<section name="securityConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Configuration.SecuritySettings, Microsoft.Practices.EnterpriseLibrary.Security, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
		<section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
		<sectionGroup name="telerik.web.ui">
			<section name="radScheduler" type="Telerik.Web.UI.RadSchedulerConfigurationSection, Telerik.Web.UI, PublicKeyToken=121fae78165ba3d4" allowDefinition="MachineToApplication"/>
		</sectionGroup>
		<section name="RewriterConfig" type="URLRewriter.Config.RewriterConfigSerializerSectionHandler, URLRewriter"/>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
		<!--<section name="MailChimpAPIconfig" type="PerceptiveMCAPI.MCAPISettings, PerceptiveMCAPI"/>-->
		<section name="MailChimpConfiguration" type="OrbitOne.MailChimp.MailChimpConfiguration, OrbitOne.MailChimp"/>
	</configSections>
	<MailChimpConfiguration>
		<MCAPI SecureAccess="False" Validate="False" DataCenter="auto" apikey="43cb83fd284184b565525e3080625317-us1"/>
	</MailChimpConfiguration>
	<facebookSettings appId="169921799743902" appSecret="c0ddc17a8ef7bef5bc2af0a86303fd90"/>
	<log4net>
		<appender name="LogServiceAppender" type="log4net.Appender.RollingFileAppender">
			<param name="File" value="C:\\LogWeb.txt"/>
			<param name="AppendToFile" value="true"/>
			<param name="MaxSizeRollBackups" value="10"/>
			<param name="MaximumFileSize" value="1MB"/>
			<param name="RollingStyle" value="Size"/>
			<param name="StaticLogFileName" value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%d [%t] - %m%n"/>
			</layout>
		</appender>
		<!-- Different Level of a Logger = OFF,DEBUG,INFO,ERROR,ALL -->
		<logger name="LogServiceLogger">
			<level value="ERROR"/>
			<appender-ref ref="LogServiceAppender"/>
		</logger>
	</log4net>
	<modulesSection>
		<rewriteModule>
			<rewriteOn>true</rewriteOn>
			<rewriteRules>
				<rule source="birthday.TributePortal.aspx" destination="Tribute/Home.aspx"/>
				<rule source="(.*)/Home.aspx " destination="Tribute/Home.aspx"/>
			</rewriteRules>
		</rewriteModule>
	</modulesSection>
	<appSettings>
		<!-- for Facebook Developer Toolkit -->
		<add key="ScriptResource.axd" value="all"></add>
		<add key="APIKey" value="169921799743902"/>
		<add key="Secret" value="c0ddc17a8ef7bef5bc2af0a86303fd90"/>
		<add key="Callback" value="http://localhost:4941/DevelopmentWebsite/"/>
		<add key="Suffix" value="yourtribute_marina"/>
		<!-- end if facebook settings -->
		<add key="AccountNumber" value="89999653"/>
		<add key="StoteId" value="test"/>
		<add key="StotePwd" value="test"/>
		<add key="ReferancePrefix" value="timeless"/>
		<add key="LogFilePath" value="C:\Log.txt"/>
		<add key="LoggingEnabled" value="1"/>
		<add key="DefaultCustomeHeaderBGColor" value="eee4dc"></add>
		<!--<add key="com.optimalpayments.test.webservices.v1" value="https://webservices.optimalpayments.com/creditcardWS/CreditCardService/v1"/>
		<add key="AccountNumber" value="99973872"/>
		<add key="StoteId" value="7d6f91706-7295-USD"/>
		<add key="StotePwd" value="@wob#!bk"/>
		<add key="ReferancePrefix" value="YourTribute"/>
		<add key="LogFilePath" value="C:\Log.txt"/>
		<add key="LoggingEnabled" value="1"/>-->
		<!--
		1 for create log file for error.
		2 for create entry in Database for error.
		3 for both actions.
			  :Added by Deepak Nagar
	    -->
		<!--<add key="BlogUrl" value="http://localhost/abc.xml"/>-->
		<add key="BlogUrl" value="http://blog.yourtribute.com/rss"></add>
		<add key="LifeTimeAmount" value="$ 50"/>
		<add key="OneyearAmount" value="$ 30"/>
		<!--<add key="LifeTimeAmount" value="$ 50"/>
    <add key="OneyearAmount" value="$ 30"/>-->
		<add key="LifeTime_CreditCost" value="3"/>
		<add key="OneYear_CreditCost" value="1"/>
		<add key="OneYearVideoTributeUpgrade" value="$ 19.95"/>
		<add key="LifeTimeVideoTributeUpgrade" value="$ 49.95"/>
		<add key="Pagesize_myTributes" value="10"/>
		<add key="Pagesize_myTributes" value="10"/>
		<add key="Size_myInbox" value="2"/>
		<add key="Pagesize_myInbox" value="10"/>
		<add key="Pagesize_myEvents" value="5"/>
		<add key="Size_myEvents" value="3"/>
		<add key="Pagesize_myFavourite" value="10"/>
		<add key="Pagesize_guestBook" value="10"/>
		<add key="PagingSize_guestBook" value="10"/>
		<add key="Pagesize_Gift" value="10"/>
		<add key="PagingSize_Gift" value="10"/>
		<add key="TextSize_TributeNotes" value="255"/>
		<add key="Pagesize_Notes" value="10"/>
		<add key="Pagesize_Notes_Comments" value="10"/>
		<add key="Pagesize_VideoGallery" value="6"/>
		<add key="Pagesize_Videos_Comments" value="10"/>
		<add key="Pagesize_PhotoGallery" value="6"/>
		<add key="Pagesize_PhotoAlbum" value="20"/>
		<add key="MaxPhotosInAlbum_PhotoAlbum" value="60"/>
		<add key="DBName" value="Timeless"/>
		<add key="MailServer" value="smtp.gmail.com"/>
		<!--<add key="MailServer" value="smtp.gmail.com"/>-->
		<add key="AdministratorMail" value="yourtributedev@gmail.com"/>
		<add key="SIGNUPAdmin" value="yourtributedev@gmail.com"/>
		<add key="TributeCreationAdmin" value="yourtributedev@gmail.com"/>
		<add key="ForgetPassAdmin" value="yourtributedev@gmail.com"/>
		<add key="SponsorEmail" value="yourtributedev@gmail.com"/>
		<add key="ApplicationMode" value="local"/>
		<add key="APP_BASE_DOMAIN" value="http://localhost:4941/DevelopmentWebsite/"/>
		<add key="DefaultFolderUrl_ToGetDefaultFile" value="Default.aspx"/>
		<add key="DefaultFileName" value="Default.aspx"/>
		<add key="NewBabyFolderPath" value="E:\YourTribute\Tributes\"/>
		<add key="BirthdayFolderPath" value="E:\YourTribute\Tributes\"/>
		<add key="GraduationFolderPath" value="E:\YourTribute\Tributes\"/>
		<add key="WeddingFolderPath" value="E:\YourTribute\Tributes\"/>
		<add key="AnniversaryFolderPath" value="E:\YourTribute\Tributes\"/>
		<add key="MemorialFolderPath" value="E:\YourTribute\Tributes\"/>
		<add key="VideoFolderPath" value="E:\YourTribute\Tributes\"/>
		<add key="Launch_Day" value="09/10/2009"/>
		<add key="IOVSRuleBase" value="Common\IOVS.config"/>
		<add key="Address_Separator" value="&lt;&gt;"/>
		<add key="Address_Separator_Display" value=","/>
		<add key="TopLevelDomain" value="yourtribute.in"/>
		<add key="NoreplyEmail" value="yourtributedev@gmail.com"/>
		<add key="InfoEmail" value="yourtributedev@gmail.com"/>
		<add key="SupportEmail" value="yourtributedev@gmail.com"/>
		<add key="PrivacyEmail" value="yourtributedev@gmail.com"/>
		<add key="BillingEmail" value="yourtributedev@gmail.com"/>
		<add key="FeedbackEmail" value="yourtributedev@gmail.com"/>
		<add key="NotificationEmail" value="yourtributedev@gmail.com"/>
		<add key="YourTributeEmail" value="yourtributedev@gmail.com"/>
		<add key="GoogleAPIKey" value="ABQIAAAAaI0maam_ym2pQX3a5ekdUhQnzeH2djLD2WeYLePl2nwH2af7mhSdVt2OoCq9GI6ibdshsP_qxPdzcw"/>
		<!--<add key="PhotoUploaderVersion" value="6"></add>-->
		<add key="PhotoUploaderKey" value="71050-4E10B-00000-026F4-59F7B;72050-4E10B-00000-03E16-7B80A"/>
		<add key="BlogUrlMain" value="http://blog.yourtribute.com/rss"></add>
		<add key="CopyrightYear" value="2009"></add>
		<add key="DonationURL" value="http://www.epartnersingiving.com/"></add>
		<add key="DonationTermsURL" value="http://www.epartnersingiving.com/contactus/terms.php"></add>
		<add key="DonationPrivacyURL" value="http://www.epartnersingiving.com/contactus/privacy.php"></add>
		<add key="com.optimalpayments.webservices.v1" value="https://webservices.optimalpayments.com/creditcardWS/CreditCardService/v1"/>
		<add key="com.optimalpayments.test.webservices.v1" value="https://webservices.test.optimalpayments.com/creditcardWS/CreditCardService/v1"/>
		<add key="DefaultCustomeHeaderBGColor" value="eee4dc"></add>
		<add key="DefaultColorPickerValue" value="f8f1eb"></add>
		<!--LHK: TributeCreation Page-->
		<add key="PhotoOneyearAmount" value="$19.95"/>
		<add key="PhotoLifeTimeAmount" value="$49.95"/>
		<add key="TributeOneyearAmount" value="$49.95"/>
		<add key="TributeLifeTimeAmount" value="$149.95"/>
		<add key="PhotoYearlyCreditCost" value="1 Credit"/>
		<add key="PhotoLifeTimeCreditCost" value="2 Credits"/>
		<add key="TributeYearlyCreditCost" value="2 Credit"/>
		<add key="TributeLifeTimeCreditCost" value="4 Credits"/>
		<add key="PhotoEventLimit" value="1"/>
		<add key="PhotoVideoLimit" value="2"/>
		<add key="PhotoAlbumLimit" value="2"/>
		<add key="PhotoNotesLimit" value="2"/>
		<!--<add key="PhotoVideoTributeLimit" value="1"/>-->
		<!--LHK:Till Here-->
		<add key="LifeTimePhotoTypeUpgrade" value="$ 49.95"/>
		<add key="YearlyPhotoTypeUpgrade" value="$ 29.95"/>
		<add key="LifeTimeTributeTypeUpgrade" value="$ 149.95"/>
		<add key="YearlyTributeTypeUpgrade" value="$ 59.95"/>
		<!--Test Account: for BeanStream payment gateway by Rupendra on 17 aug 2011 -->
		<add key="BeanStreamUrl" value="https://www.beanstream.com/scripts/process_transaction.asp"></add>
		<add key="MerchantId" value="242740000"/>
		<add key="requestType" value="BACKEND"/>
		<add key="trnType" value="P"/>
		<add key="BeanUserName" value="admin"/>
		<add key="BeanUserPwd" value="ABb8C65A"/>
		<!-- end if facebook settings -->
		<!--ImageUploaderLicenseKey-->
		<add key="ImageUploaderLicenseKey" value="XXXXX-XXXXX-XXXXX-XXXXX-XXXXX-XXXXXX"/>
		<!--YourTribute-->
		<add key="ApplicationType" value="YourTribute"/>
		<add key="CssDir" value="Css"/>
		<add key="ApplicationWord" value="Tribute"/>
		<add key="ApplicationWordForInternalUse" value="Tribute"/>
		<!--YourMoments-->
		<!--<add key="ApplicationType" value="YourMoments"/>
		<add key="CssDir" value="Css-YM"/>
		<add key="ApplicationWord" value="Moments"/>
		<add key="ApplicationWordForInternalUse" value="Website"/>-->
		<add key="MomentsBlogUrlMain" value="http://blog.yourtribute.com/rss"></add>
		<add key="Secured_APP_BASE_DOMAIN" value="http://localhost:4941/DevelopmentWebsite/"/>
		<add key="MailServer" value="127.0.0.1"/>
		<add key="VideoFileCopyIteration" value="5"/>
		<add key="DevAdminEmail" value="lhari.k@optimusinfo.com"/>
		<add key="captureFrameIndexNumber" value="35"/>
		<!--<add key="MailServer" value="in.mailjet.com"/>-->
		<add key="UseSMTPAdvanced" value="true"/>
		<add key="UseSMTPAdvanced" value="true"/>
		<add key="SMTPServer" value="in.mailjet.com"/>
		<add key="SmtpUsername" value="648965971332af8597ce065cb57a7306"/>
		<add key="SmtpPassword" value="f4cacdc5d6d74c0be85661b2dfec364e"/>
		<add key="SmtpPort" value="587"/>
		<!--<add key="SMTPServer" value="smtp.gmail.com"/>
    <add key="SmtpUsername" value="yourtributedev@gmail.com"/>
    <add key="SmtpPassword" value="yourtribute1234"/>
    <add key="SmtpPort" value="587"/>-->
		<add key="MailChimpApiKey" value="43cb83fd284184b565525e3080625317-us1"/>
		<add key="NewsLettersListID" value="e93fc33cb7"/>
		<add key="PersonalUserListID" value="e93fc33cb7"/>
		<add key="BussinessUserListID" value="5f2453633d"/>
		<add key="MaxFileSizeTributeImage" value="8"/>
		<add key="PersonalUserCreatorListID" value="cd74ab49dd"/>
		<add key="PersonalUserContributorListID" value="d477fc91e0"/>
		<add key="TributeObituaryFreeListID" value="f0f19cc5b8"/>
		<add key="TributeObituaryPaidListID" value="1ad5eae2d4"/>
		<add key="TributeMemorialYearlyListID" value="34ddf3dab4"/>
		<add key="TributeMemorialLifetimeListID" value="926f81e4e0"/>
		<!--Recent Tribute activity changes-->
		<add key="MaxStoryLimit" value="2"/>
		<add key="MaxNotesLimit" value="2"/>
		<add key="MaxGuestbookLimit" value="4"/>
		<add key="MaxGiftsLimit" value="4"/>
		<add key="MaxEventsLimit" value="2"/>
		<add key="MaxPhotosLimit" value="2"/>
		<add key="MaxVideosLimit" value="1"/>
		<add key="MaxVideoTributeLimit" value="1"/>
		<add key="MaxCommentsLimit" value="4"/>
		<add key="MaxNoteCommentsLimit" value="1"/>
		<add key="MaxPhotoCommentsLimit" value="1"/>
		<add key="MaxVideoCommentsLimit" value="1"/>
		<add key="MaxVideoTributeCommentsLimit" value="1"/>
		<!--Recent Tribute activity changes till here-->
		<add key="MailChimpApiKeyNew" value="60ece16f0432a05ff3cfe867aa750e3f-us6"/>
		<add key="UserNewsLetterListID" value="a3e8b9ae3e"/>
		<add key="TributeNewsLetterListID" value="a3e8b9ae3e"/>
    <add key="NinetyDays_CreditCost" value="0.5"/>
    <add key="NinetyDaysAmount" value="$ 5"/>
	</appSettings>
	<connectionStrings>
		<!--<add name="Timeless" connectionString="Database=Tribute20March2009;Server=172.26.50.19;UID=test;Pwd=momentum;" providerName="System.Data.SqlClient"/>-->
		<!-- <add name="Timeless" connectionString="Database=TributeDev;Server=172.26.180.252;UID=sa;Pwd=sopra123*;" providerName="System.Data.SqlClient"/>-->
		<!-- add name="Timeless" connectionString="Database=TimelessTributePortal; Server=localhost; Trusted_Connection=True;" providerName="System.Data.SqlClient"/ -->
		<!--<add name="Timeless" connectionString="Data Source=HOMEPC-EB3A98EB\SQLEXPRESS;Initial Catalog=TimelessTributePortal;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
		<add name="Timeless" connectionString="Server=Rupendra-HP;DataBase=TimelessTributePortal;Integrated Security=true;" providerName="System.Data.SqlClient"/>
		<!--<add name="Timeless" connectionString="Persist Security Info=False;Initial Catalog=DotComDB;Data Source=DEVIL-A4AD9AD9F\SQLEXPRESS;Integrated Security=True" providerName="System.Data.SqlClient"></add>-->
		<!--<add name="Timeless" connectionString="Data Source=OPTIMUS-24DA262\TAILWIND;Initial Catalog=TimelessTributePortal;Integrated Security=False;user id=sa;password=Optimus@123;" providerName="System.Data.SqlClient"/>-->
	</connectionStrings>
	<compositeWeb>
		<modules>
			<module name="Shell" assemblyName="Shell" virtualPath="~/"/>
		</modules>
	</compositeWeb>
	<securityConfiguration defaultAuthorizationInstance="RuleProvider" defaultSecurityCacheInstance="">
		<authorizationProviders>
			<add type="Microsoft.Practices.EnterpriseLibrary.Security.AuthorizationRuleProvider, Microsoft.Practices.EnterpriseLibrary.Security, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="RuleProvider">
				<rules>
					<!-- Add your own rules here:
          e.g.:
              <add expression="R:Customer" name="AllowViewAccountsSummary"/>          
          -->
				</rules>
			</add>
		</authorizationProviders>
	</securityConfiguration>
	<loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
		<listeners>
			<add source="Enterprise Library Logging" formatter="Text Formatter" log="Application" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="Formatted EventLog TraceListener"/>
		</listeners>
		<formatters>
			<add template="Timestamp: {timestamp}&#xA;Message: {message}&#xA;Category: {category}&#xA;Priority: {priority}&#xA;EventId: {eventid}&#xA;Severity: {severity}&#xA;Title:{title}&#xA;Machine: {machine}&#xA;Application Domain: {appDomain}&#xA;Process Id: {processId}&#xA;Process Name: {processName}&#xA;Win32 Thread Id: {win32ThreadId}&#xA;Thread Name: {threadName}&#xA;Extended Properties: {dictionary({key} - {value}&#xA;)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="Text Formatter"/>
		</formatters>
		<categorySources>
			<add switchValue="All" name="General">
				<listeners>
					<add name="Formatted EventLog TraceListener"/>
				</listeners>
			</add>
		</categorySources>
		<specialSources>
			<allEvents switchValue="All" name="All Events"/>
			<notProcessed switchValue="All" name="Unprocessed Category"/>
			<errors switchValue="All" name="Logging Errors &amp; Warnings">
				<listeners>
					<add name="Formatted EventLog TraceListener"/>
				</listeners>
			</errors>
		</specialSources>
	</loggingConfiguration>
	<exceptionHandling>
		<exceptionPolicies>
			<add name="GlobalExceptionLogger">
				<exceptionTypes>
					<add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None" name="Exception">
						<exceptionHandlers>
							<add logCategory="General" eventId="100" severity="Error" title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" priority="0" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="Logging Handler"/>
						</exceptionHandlers>
					</add>
				</exceptionTypes>
			</add>
		</exceptionPolicies>
	</exceptionHandling>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Messaging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="Microsoft.Practices.ObjectBuilder, Version=1.0.51206.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.EnterpriseServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.DirectoryServices.Protocols, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.ServiceProcess, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.RegularExpressions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<!--
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Messaging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			-->
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions.Design, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="FreeTextBox, Version=3.3.0.22914, Culture=neutral, PublicKeyToken=5962A4E684A48B87"/>
				<!--<add assembly="FreeTextBox, Version=3.2.2.40658, Culture=neutral, PublicKeyToken=5962A4E684A48B87"/>-->
				<add assembly="AjaxControlToolkit, Version=1.0.11119.29353, Culture=neutral, PublicKeyToken=28F01B0E84B6D53E"/>
				<!--<add assembly="SWFToImage, Version=1.43.0.2, Culture=neutral, PublicKeyToken=6B1E5A2290A9F9323B197DAB25E8AF47"/>-->
				<add assembly="Accessibility, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Forms"/>
		<sessionState cookieless="false" timeout="30"></sessionState>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<customErrors mode="Off" defaultRedirect="~/Errors/GeneralErrorPage.htm">
			<error statusCode="403" redirect="~/Errors/AccessDenied.htm"/>
			<error statusCode="404" redirect="~/Errors/Error404.aspx"/>
			<error statusCode="500" redirect="~/Errors/500Error.htm"/>
		</customErrors>
		<pages validateRequest="false">
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</controls>
		</pages>
		<siteMap defaultProvider="DefaultSiteMapProvider" enabled="true">
			<providers>
				<add name="DefaultSiteMapProvider" type="Microsoft.Practices.CompositeWeb.Providers.ModuleSiteMapProvider, Microsoft.Practices.CompositeWeb" securityTrimmingEnabled="true"/>
			</providers>
		</siteMap>
		<httpRuntime maxRequestLength="1048576"/>
		<!--
		<httpHandlers>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
		</httpHandlers>-->
		<httpHandlers>
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</httpHandlers>
		<httpModules>
			<!--<add name="RewriteModule" type="RewriteModule.RewriteModule, RewriteModule"/>-->
			<add type="URLRewriter.ModuleRewriter, URLRewriter" name="ModuleRewriter"/>
			<!--<add name="WebClientAuthorizationModule" type="Microsoft.Practices.CompositeWeb.Authorization.WebClientAuthorizationModule, Microsoft.Practices.CompositeWeb"/>
			<add name="ExceptionLoggerHttpModule" type="Microsoft.Practices.CompositeWeb.EnterpriseLibrary.ExceptionLogger, Microsoft.Practices.CompositeWeb.EnterpriseLibrary"/>-->
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</httpModules>
		<httpCookies httpOnlyCookies="false"/>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<remove name="ScriptModule"/>
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</modules>
		<handlers>
			<remove name="ScriptHandlerFactory"/>
			<remove name="ScriptHandlerFactoryAppServices"/>
			<remove name="ScriptResource"/>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</handlers>
	</system.webServer>
	<location path="ajax">
		<system.web>
			<httpHandlers>
				<add verb="*" path="*.ashx" type="Ajax.PageHandlerFactory,Ajax"/>
			</httpHandlers>
		</system.web>
	</location>
	<location path="ajaxpro">
		<system.web>
			<httpHandlers>
				<add verb="*" path="*.ashx" type="AjaxPro.AjaxHandlerFactory,AjaxPro.2"/>
			</httpHandlers>
		</system.web>
	</location>
	<RewriterConfig>
		<Rules>
			<RewriterRule>
				<LookFor>~/memorials\.aspx</LookFor>
				<!--<SendTo>~/Tribute/ChannelTribute.aspx</SendTo> -->
				<SendTo>~/Tribute/ChannelTribute.aspx?Theme=memorialdefault&amp;Type=Memorial</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/about\.aspx</LookFor>
				<SendTo>~/Miscellaneous/AboutUs.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/pricing\.aspx</LookFor>
				<SendTo>~/Miscellaneous/pricing.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/contact\.aspx</LookFor>
				<SendTo>~/Miscellaneous/contactyourtribute.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/Privacy\.aspx</LookFor>
				<SendTo>~/Miscellaneous/Privacy.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/features\.aspx</LookFor>
				<SendTo>~/Miscellaneous/AboutFeatures.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/Logout\.aspx</LookFor>
				<SendTo>~/Users/Logout.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(.*)/Logout\.aspx</LookFor>
				<SendTo>~/Users/Logout.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/AjaxLogin\.aspx</LookFor>
				<SendTo>~/Users/AjaxLogin.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/log_in\.aspx</LookFor>
				<SendTo>~/Users/log_in.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(.*)/log_in\.aspx</LookFor>
				<SendTo>~/Users/log_in.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(.*)/UserRegistration\.aspx</LookFor>
				<SendTo>~/Users/UserRegistration.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/UserRegistration\.aspx</LookFor>
				<SendTo>~/Users/UserRegistration.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(.*)/tributes\.aspx</LookFor>
				<SendTo>~/Myhome/AdminMytributesHome.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/tributes\.aspx</LookFor>
				<SendTo>~/Myhome/AdminMytributesHome.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(.*)/favorites\.aspx</LookFor>
				<SendTo>~/Myhome/AdminMyfavorites.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/favorites\.aspx</LookFor>
				<SendTo>~/Myhome/AdminMyfavorites.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/AdminMyfavorites\.aspx</LookFor>
				<SendTo>~/Myhome/AdminMyfavorites.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/TermsofUse\.aspx</LookFor>
				<SendTo>~/Miscellaneous/TermsofUse.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/AllTributes\.aspx</LookFor>
				<SendTo>~/Tribute/AllTribute.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/AllTribute\.aspx</LookFor>
				<SendTo>~/Tribute/AllTribute.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/Home\.aspx</LookFor>
				<SendTo>~/Tribute/Home.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(.*)/Home\.aspx</LookFor>
				<SendTo>~/Tribute/Home.aspx</SendTo>
			</RewriterRule>
			<!-- Edited by Mohit Gupta : Radio Button selected default for Memorial removed -->
			<RewriterRule>
				<LookFor>~/TributeCreation\.aspx</LookFor>
				<SendTo>~/Tribute/TributeCreation.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/ChannelHomePage\.aspx</LookFor>
				<SendTo>~/Tribute/ChannelHomePage.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(.*)/Default\.aspx</LookFor>
				<SendTo>~/Tribute/TributeHomePage.aspx?TributeUrl=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(.*)/Story\.aspx</LookFor>
				<SendTo>~/Story/Story.aspx?TributeUrl=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(.*)/TributeHomePage\.aspx</LookFor>
				<SendTo>~/Tribute/TributeHomePage.aspx?TributeUrl=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(.*)/Gift\.aspx</LookFor>
				<SendTo>~/Gift/Gift.aspx?TributeUrl=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(.*)/GuestBook\.aspx</LookFor>
				<SendTo>~/GuestBook/Guestbook.aspx?TributeUrl=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(.*)/Photos\.aspx</LookFor>
				<SendTo>~/Photo/PhotoGallery.aspx?TributeUrl=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(.*)/PhotoAlbum\.aspx</LookFor>
				<SendTo>~/Photo/PhotoAlbum.aspx?TributeUrl=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(.*)/ManagePhotoAlbum\.aspx</LookFor>
				<SendTo>~/Photo/ManagePhotoAlbum.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(.*)/Photo\.aspx</LookFor>
				<SendTo>~/Photo/PhotoView.aspx?TributeUrl=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(.*)/Notes\.aspx</LookFor>
				<SendTo>~/Notes/TributeNotes.aspx?TributeUrl=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(.*)/ManageNote\.aspx</LookFor>
				<SendTo>~/Notes/ManageNote.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(.*)/Note\.aspx</LookFor>
				<SendTo>~/Notes/NoteFullView.aspx?TributeUrl=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(.*)/features\.aspx</LookFor>
				<SendTo>~/Miscellaneous/AboutFeatures.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(.*)/Events\.aspx</LookFor>
				<SendTo>~/Event/Event.aspx?TributeUrl=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(.*)/Event\.aspx</LookFor>
				<SendTo>~/Event/EventFullView.aspx?TributeUrl=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(.*)/InviteGuest\.aspx</LookFor>
				<SendTo>~/Event/InviteGuest.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(.*)/ManageEvent\.aspx</LookFor>
				<SendTo>~/Event/ManageEvent.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(.*)/Videos\.aspx</LookFor>
				<SendTo>~/Video/VideoGallery.aspx?TributeUrl=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(.*)/Video\.aspx</LookFor>
				<SendTo>~/Video/ManageVideo.aspx?TributeUrl=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(.*)/AddVideo\.aspx</LookFor>
				<SendTo>~/Video/AddVideo.aspx?TributeUrl=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/VideoUpload\.aspx</LookFor>
				<SendTo>~/Video/VideoUpload.aspx?TributeUrl=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(.*)/ShareTribute\.aspx</LookFor>
				<SendTo>~/Tribute/ShareTribute.aspx?TributeUrl=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(.*)/</LookFor>
				<SendTo>~/Tribute/TributeHomePage.aspx?TributeUrl=$1</SendTo>
			</RewriterRule>
			<!-- Added New Rules -->
			<RewriterRule>
				<LookFor>~/create\.aspx</LookFor>
				<SendTo>~/Tribute/TributeCreation.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(.*)/create\.aspx</LookFor>
				<SendTo>~/Tribute/TributeCreation.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/tributes\.aspx</LookFor>
				<SendTo>~/MyHome/AdminMytributesHome.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(.*)/ManagePhoto\.aspx</LookFor>
				<SendTo>~/Photo/ManagePhoto.aspx?TributeUrl=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(.*)/EditPhotoAlbum\.aspx</LookFor>
				<SendTo>~/Photo/EditPhotoAlbum.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(.*)/SearchResult\.aspx</LookFor>
				<SendTo>~/Tribute/SearchResult.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/SearchResult\.aspx</LookFor>
				<SendTo>~/Tribute/SearchResult.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(.*)/AdvancedSearch\.aspx</LookFor>
				<SendTo>~/Tribute/AdvanceSearch.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/AdvancedSearch\.aspx</LookFor>
				<SendTo>~/Tribute/AdvanceSearch.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/Inbox\.aspx</LookFor>
				<SendTo>~/MyHome/UserInbox.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/UserEvents\.aspx</LookFor>
				<SendTo>~/MyHome/UserEvents.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/AdminProfileSettings\.aspx</LookFor>
				<SendTo>~/MyHome/AdminProfileSettings.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/AdminProfileBilling\.aspx</LookFor>
				<SendTo>~/MyHome/AdminProfileBilling.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/AdminProfileEmail\.aspx</LookFor>
				<SendTo>~/MyHome/AdminProfileEmail.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/AdminProfileEmailpassword\.aspx</LookFor>
				<SendTo>~/MyHome/AdminProfileEmailpassword.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/AdminProfilePrivacy\.aspx</LookFor>
				<SendTo>~/MyHome/AdminProfilePrivacy.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(.*)/AdminImageCropper\.aspx</LookFor>
				<SendTo>~/Modelpopup/AdminImageCropper.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(.*)/PhotoUpload\.aspx</LookFor>
				<SendTo>~/Photo/PhotoUpload.aspx?TributeUrl=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(.*)/TributeSponsor\.aspx</LookFor>
				<SendTo>~/Tribute/TributeSponsor.aspx?TributeUrl=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(.*)/ManageVideo\.aspx</LookFor>
				<SendTo>~/Video/ManageVideo.aspx?TributeUrl=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/AdminMytributesPrivacy\.aspx</LookFor>
				<SendTo>~/MyHome/AdminMytributesPrivacy.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/BusinessUserHome\.aspx</LookFor>
				<SendTo>~/MyHome/BusinessUserHome.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/UserProfile\.aspx</LookFor>
				<SendTo>~/ModelPopup/UserProfile.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/TributeSponsor\.aspx</LookFor>
				<SendTo>~/Tribute/TributeSponsor.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(.*)/inviteadminconfirmation\.aspx</LookFor>
				<SendTo>~/Users/InviteAdnminConfirmation.aspx?TributeUrl=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/inviteadminconfirmation\.aspx</LookFor>
				<SendTo>~/Users/InviteAdnminConfirmation.aspx?TributeUrl=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(.*)/paymentconfirmation\.aspx</LookFor>
				<SendTo>~/Tribute/PaymentConfirmation.aspx?TributeUrl=$1</SendTo>
			</RewriterRule>
			<!-- 25 Mar 2010, Deepak -->
			<RewriterRule>
				<LookFor>~/tour\.aspx</LookFor>
				<SendTo>~/Miscellaneous/tour.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(.*)/examples\.aspx</LookFor>
				<SendTo>~/Miscellaneous/examples.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/advertise\.aspx</LookFor>
				<SendTo>~/Miscellaneous/Advertise.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(.*)/GuestList\.aspx</LookFor>
				<SendTo>~/Event/GuestList.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/examples\.aspx</LookFor>
				<SendTo>~/Miscellaneous/examples.aspx</SendTo>
			</RewriterRule>
			<!--AG:OrdercreditRule-->
			<RewriterRule>
				<LookFor>~/(.*)/ordercredit\.aspx</LookFor>
				<SendTo>~/Tribute/OrderCredit.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/ordercredit\.aspx</LookFor>
				<SendTo>~/Tribute/OrderCredit.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/BusinessUserTributesHome\.aspx</LookFor>
				<SendTo>~/MyHome/BusinessUserTributesHome.aspx</SendTo>
			</RewriterRule>
			<!--End-->
			<!--LHK:obituary/announcementRule-->
			<RewriterRule>
				<LookFor>~/obituary\.aspx</LookFor>
				<SendTo>~/Tribute/TributeHomePage.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/announcement\.aspx</LookFor>
				<SendTo>~/Tribute/TributeHomePage.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/EnableRSSFeed\.aspx</LookFor>
				<SendTo>~/tributeportaladmin/EnableRSSFeed.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/EnableRSSFeed\.aspx</LookFor>
				<SendTo>~/tributeportaladmin/UpdateTribute.aspx</SendTo>
			</RewriterRule>
			<!-- Added by Ashu on Oct 4, 2011 for YourMoments Redirection URL-->
			<RewriterRule>
				<LookFor>~/(.*)/sharetribute\.aspx</LookFor>
				<SendTo>~/Tribute/sharetribute.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(.*)/shareMoments\.aspx</LookFor>
				<SendTo>~/Tribute/sharetribute.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/BusinessUserMomentsHome\.aspx</LookFor>
				<SendTo>~/MyHome/BusinessUserTributesHome.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(.*)/moments\.aspx</LookFor>
				<SendTo>~/Myhome/AdminMytributesHome.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/moments\.aspx</LookFor>
				<SendTo>~/Myhome/AdminMytributesHome.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(.*)/MomentsHomePage\.aspx</LookFor>
				<SendTo>~/Tribute/TributeHomePage.aspx?TributeUrl=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(.*)/MomentsSponsor\.aspx</LookFor>
				<SendTo>~/Tribute/TributeSponsor.aspx?TributeUrl=$1</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/AdminMyMomentsPrivacy\.aspx</LookFor>
				<SendTo>~/MyHome/AdminMytributesPrivacy.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/MomentsSponsor\.aspx</LookFor>
				<SendTo>~/Tribute/TributeSponsor.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/MomentsCreation\.aspx</LookFor>
				<SendTo>~/Tribute/TributeCreation.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/themes\.aspx</LookFor>
				<SendTo>~/Miscellaneous/themes.aspx</SendTo>
			</RewriterRule>
			<RewriterRule>
				<LookFor>~/(.*)/themes\.aspx</LookFor>
				<SendTo>~/Miscellaneous/themes.aspx</SendTo>
			</RewriterRule>
			<!--Ashu till here-->
			<!--End-->
			<!--LHK: ?id=1234 mapping=-->
			<!--<RewriterRule>
        <LookFor>~/(.*)/TributeStory\.aspx</LookFor>
        <SendTo>~/Story/Story.aspx</SendTo>
      </RewriterRule>-->
			<!--End-->
		</Rules>
	</RewriterConfig>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="OptionInfer" value="true"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
		</compilers>
	</system.codedom>
	<runtime>
		<assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<!--Running YT Mobile Service-->
	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
		<behaviors>
			<endpointBehaviors>
				<behavior name="CustomerServiceBehavior">
					<webHttp/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<services>
			<service name="YtMobileViewerService">
				<!--        <endpoint address="" behaviorConfiguration="Microsoft.Ajax.Samples.CustomerServiceBehavior"
            binding="webHttpBinding" contract="Microsoft.Ajax.Samples.ICustomerService" /> -->
				<endpoint address="" binding="customBinding" bindingConfiguration="jsonpBinding" behaviorConfiguration="CustomerServiceBehavior" contract="IYtMobileViewerService"/>
			</service>
		</services>
		<bindings>
			<webHttpBinding>
				<!--<binding name="webHttpBindingWithJsonP" crossDomainScriptAccessEnabled="true"/>-->
				<binding name="webHttpBindingWithJsonP"/>
			</webHttpBinding>
			<customBinding>
				<binding name="jsonpBinding">
					<jsonpMessageEncoding/>
					<httpTransport manualAddressing="true"/>
					<!--<windowsStreamSecurity protectionLevel="None" />
          <security authenticationMode="AnonymousForSslNegotiated"/>-->
				</binding>
			</customBinding>
		</bindings>
		<extensions>
			<bindingElementExtensions>
				<add name="jsonpMessageEncoding" type="Contracts.JsonpBindingExtension, App_Code, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
			</bindingElementExtensions>
		</extensions>
	</system.serviceModel>
	<!--End-->
	<location>
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<system.net>
		<!--<mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtp.gmail.com" port="587"
            userName="jason@yourtribute.com" password="Jas0n198o"/>
      </smtp>
    </mailSettings>-->
	</system.net>
</configuration>
