.recaptchatable .recaptcha_image_cell, #recaptcha_table {
   background-color:#FFFFFF !important;      
 }
 
 #recaptcha_table {
   border-color: #FFFFFF !important;    
 }
 
 #recaptcha_response_field {
   border-color: #FF0000 !important; 
   background-color:#FFFFFF !important;    
 }

#recaptcha_logo {
display:none;
}
#recaptcha_tagline
{
display:none;
}