body {
	margin: 0;
	padding:0;
	background: transparent;
}
html {
	margin: 0;
	padding:0;
	background: transparent;
}

.yt-Form-Field {
	width:100px;
	margin-top:0;
}

.yt-ContentPrimary {
	position:relative;
	width:324px;
	height:360px;
}
.yt-ContentContainer {
	background:none;
	width:324px;
	margin-top:0;
	padding-top:0;
}
.yt-Container {
	margin: 0;
	padding:0;
	width:324px;
}


/* copied text */

#yt-LoginContent {
	margin-top:30px;
}
.yt-ForgetUserNamePassword-Link {
	display: block;
	clear: both;
	padding: 10px 0 10px 0;
	cursor: pointer;
}
.yt-ForgetUserNamePassword {
	display: none;
}

.yt-Panel-Primary {
	width:298px;
}

label {
	font-size:14px;
	padding-top:3px;
}
h3 {
	width:100%;
	clear:both;
	padding:0;
	font-size:12px!important;
	line-height:1.5em;
	font-family: Lucida Sans Regular, Lucida Grande, Sans-Serif;
	font-weight:bold;
	color: #494949;
}
.yt-Form-Field {
	clear:both;
	width:100%;
}

.yt-Form-Buttons {
	bottom:0pt;
	left:0pt;
	position:absolute;
	right:0pt;
	width:324px;
}

.yt-Form-Submit {
	float:right!important;
}
.yt-Panel-Primary > .yt-Form-Submit {
	margin:0 -12px 0 0;
}
.yt-SignUpLink {
	float:left;
	display:inline;
	margin-top:8px;
}
#mb_header a#mb_close_link {
	right:10px;
	top:39px;
}


#yt-LoginError {
	display:none;
}