/* Ashu(13June,2011) New css for loginpopup and Signup */

.yt-Form-Heading
{
	font-size: 23px;
	color: #4D352B;
	font-family: "Lucida Sans" , "Lucida Grande" , sans-serif;
}

.yt-Form-Label
{
	font-family: "Lucida Sans" , "Lucida Grande" , sans-serif;
	font-size: 12px;
	color: #84726F;
	font-weight: 500;
}
.yt-Form-Label_Safari
{
	font-family: "Lucida Sans" , "Lucida Grande" , sans-serif;
	font-size: 11px;
	color: #84726F;
	font-weight: 500;
}
.yt-Form-LabelText
{
	font-family: "Lucida Sans" , "Lucida Grande" , sans-serif;
	font-size: 12px;
	color: #84726F;
	font-weight: 500;
}
.yt-Form-Field-label
{
	padding-bottom: 4px;
	font-size: 120%;
	font-family: "Lucida Sans" , "Lucida Grande" , sans-serif;
	font-weight: bold;
	color: #664A41;
}
.yt-Form-Field-labelChkBox
{
	padding-bottom: 4px;
	font-size: 13px;
	font-family: "Lucida Sans" , "Lucida Grande" , sans-serif;
	font-weight: bold;
	color: #664A41;
}
.yt-Form-Field-Txtbox
{
	width: 250px;
}
.yt-Form-SubmitBtn
{
	float: left;
	margin-left: 82px;
	margin-top: 15px;
}
.yt-Form-SignUpBtn
{
	float: right;
	margin-top: 25px;
	margin-right: 8px;
}
.yt-Form-asterisk
{
	color: #379EA5;
	font-weight: bold;
	width: 5px;
	height: 5px;
}
.yt-dashed-Border
{
	border-bottom: dashed 1px #503428;
	height: 1px;
	margin-top: 10px;
}
.yt-dashed-Border_safari
{
	border-bottom: dashed 1px #503428;
	height: 1px;
	margin-top: 10px;
}
.yt-dotted-Border
{

	border-bottom :dotted 1px #D3D2D0; height:1px; margin-top:38px; 

}
.yt-dotted-BorderIE7
{
	border-bottom :dotted 1px #D3D2D0; height:1px; padding-top:40px; 
}
.yt-clear-both
{
	clear: both;
}
.yt-Or-Label
{
	float: left;
	margin-top: 16px;
	text-decoration: underline;
	color: #543B30;
}
.yt-float-left
{
	float: left;
}
.yt-float-right
{
	float: right;
}
.yt-Modal-Popup
{
	width: 550px;
	padding-left: 15px;
	padding-right: 15px;
}
.yt-padding
{
	padding-left: 5px;
}
.yt-Form-Popup
{
	clear: both;
	margin-top: 5px;
}
.yt-margin-top
{
	margin-top: 15px;
}
.yt-margintop
{
	margin-top: 10px;
}
.yt-Div-txtbox
{
	margin-top: 5px;
	float: left;
}
.yt-label-left
{
	float: left;
	width: 260px;
}
.yt-Text-left
{
	float: left;
	width: 270px;
}
.yt-Forgetmargin
{
	margin-top:18px;
}
.yt-ForgetmarginIE7
{
	position:relative; top:20px;
}

.yt-div-forgetpassword
{
	float: left;
	width: 125px;
}
.yt-div-forget-asterisk
{
	float: left;
	margin-top: 4px;
	color: #379EA5;
	font-weight: bold;
	width: 5px;
	height: 5px;
	font-family: Arial;
}
.yt-Email-label
{
	float: left;
	margin-left: 5px;
}

.yt-forget-sendbutton
{
	float: left;
	margin-top: -6px;
	margin-left: 8px;
}
.yt-footer-popup
{
	float: right;
	left: 15px;
	position: relative;
	margin-top: 19px;
}
.yt-footer-label
{
	font-size: 10px;
	color: #C0B7B4;
	font-weight: bold;
}
.yt-footer-logoimg
{
	width: 120px;
	height: 26px;
	margin-top: -4px;
	float: right;
	left: 20px;
	position: relative;
}
.yt-Panel-Primary_Popup
{
	padding: 20px 10px 10px 10px;
	border: dashed 1px #412c24;
	background: #fff;
	margin-top: 35px;
	min-height: 500px;
	height: 500px;
}

html > body .yt-Panel-Primary_Popup
{
	height: auto;
}

.yt-Panel-Primary_Popup h2
{
	position: absolute;
	width: 180px;
	margin-left: 18px;
	background: url(../images/dotted_f5ede6.gif) repeat-x 0px 24px #d8c6b9;
	padding: 6px 10px 16px 10px;
	margin-top: -45px;
	text-transform: uppercase;
	color: #766157;
	font-size: 11px;
	font-weight: bold;
	font-family: Georgia;
}


.yt-Panel-Primary_Popup h3
{
	font-family: Georgia;
	font-size: 140%;
	padding-bottom: 1px; /*padding-left:20px;*/ /*margin-top: 0; <- Fixed for events, needs testing elsewhere */
}

.yt-Panel-Primary_Popup dt
{
	color: #70594c;
}

#mb_overlay_Popup
{
	position: absolute;
	left: 0;
	width: 100%;
	background-color: #000000;
	z-index: 1600;
	visibility: hidden;
}
#mb_frame_Popup
{
	background-color: transparent;
	position: absolute;
	left: 0;
	width: 100%;
	visibility: hidden;
}

#mb_bottom_Popup
{
	display: none;
}

#mb_center_Popup
{
	position: absolute;
	background-color: transparent;
	z-index: 2000;
	padding: 1px;
	left: 50%;
	width: 600px;
	margin-top: 70px;
}

#mb_header_Popup
{
	position: relative;
	z-index: 12000;
}
#mb_contents_Popup
{
	float: left;
}

#mb_caption_Popup
{
	display: none;
}



#mb_header_Popup a#mb_close_link
{
	display: block;
	position: absolute;
	right: 8px;
	z-index: 15000;
	background: transparent url(../images/btn_closeSearch.gif) no-repeat scroll 0%;
	float: right;
	font-size: 75%;
	height: 18px;
	padding: 2px 0pt 0pt 7px;
	line-height: 16px;
	text-decoration: none;
	text-transform: uppercase;
	width: 54px;
	cursor: pointer;
	margin-top: 45px;
}


#mb_header_Popup a#mb_Login_link
{
	display: block;
	position: absolute;
	right: 8px;
	z-index: 15000;
	background: transparent url(../images/btn_closeSearch.gif) no-repeat scroll 0%;
	float: right;
	font-size: 75%;
	height: 18px;
	padding: 2px 0pt 0pt 7px;
	line-height: 16px;
	text-decoration: none;
	text-transform: uppercase;
	width: 54px;
	cursor: pointer;
	margin-top: 75px;
	margin-left: -100px;
}


#mb_contents_Popup .yt-ModalWrapper
{
	background-color: #ffffff; /* this wrapper exists purely to fix IE border display bug */
	float: left;
}

#mb_contents_Popup .yt-Panel-Primary_Popup
{
	display: block;
	float: left;
	z-index: 2500;
	margin-top: 0;
	padding: 12px 12px 6px;
}
#mb_contents_Popup .yt-Panel-Primary_Popup h2
{
	position: relative;
	margin-top: -45px;
}


#mb_contents_Popup .yt-Form-Field .hint
{
	z-index: 10000;
	margin-left: 10px;
}

#mb_center_Popup .yt-Panel-Primary_Popup
{
	min-height: 0 !important;
}

#yt-LoginContentContainer_Popup
{
	display: none;
}

.mb-LoginModal_Popup
{
	/* add width to #mb_center for unique modals */
	width: 584;
}
#yt-LoginContent_Popup
{
	margin-top: 30px;
}

.mb-LoginModal_Popup .yt-Panel-Primary_Popup
{
	width: 584px;
}
.mb-LoginModal_Popup .yt-Panel-Primary_Popup h2
{
	margin-top: -45px;
}


.mb-LoginModal_Popup #mb_header_Popup a#mb_close_link
{
	right: 10px;
	top: 10px;
}
.mb-LoginModal_Popup #mb_Error_Popup, .mb-LoginModal_Popup #mb_Noticem
{
	margin-bottom: 45px !important;
}


.mb-LoginModal_Popup .yt-ForgetUserNamePassword-Link
{
	display: block;
	clear: both;
	padding: 10px 0 10px 0;
	cursor: pointer;
}
.mb-LoginModal_Popup .yt-ForgetUserNamePassword
{
	display: none;
}
.mb-LoginModal_Popup label
{
	font-size: 14px;
	padding-top: 3px;
}
.mb-LoginModal_Popup h3
{
	width: 100%;
	clear: both;
	padding: 0;
	font-size: 12px !important;
	line-height: 1.5em;
	font-family: "Lucida Sans" , "Lucida Grande" , sans-serif;
	font-weight: bold;
	color: #3f2921;
}
.mb-LoginModal_Popup .yt-Form-Field
{
	clear: both;
	width: 100%;
}
.mb-LoginModal_Popup .yt-Form-Field input.yt-Form-Input
{
	width: 273px;
}
.mb-LoginModal_Popup .yt-Form .yt-Form-Submit
{
	position: relative;
	float: right;
	margin-right: 0;
}
.mb-LoginModal_Popup .yt-Panel-Primary_Popup > .yt-Form-Submit
{
	margin: 0 -15px 0 0;
}
.mb-LoginModal_Popup .yt-SignUpLink
{
	float: left;
	display: inline;
	margin-top: 8px;
}

.yt-Login_Popup h2
{
	position: absolute;
	width: 180px;
	margin-left: 18px;
	background: url(../images/dotted_f5ede6.gif) repeat-x 0px 24px #d8c6b9;
	padding: 6px 10px 16px 10px;
	margin-top: -25px;
	text-transform: uppercase;
	color: #766157;
	font-size: 11px;
	font-weight: bold;
	font-family: Georgia;
	opacity: 0.8;
	z-index: -1;
	filter: alpha(opacity=40);
}
#yt-SignUpError
{
	display: none;
}


/* Ashu(29 June,2011)---  For new Modalpopup with multiple Button controls */

.yt-Panel-Primary3
{
	padding: 20px 10px 10px 10px;
	border: dashed 1px #412c24;
	background: #fff;
	margin-top: 35px;
	min-height: 500px;
	height: 500px;
}

html > body .yt-Panel-Primary3
{
	height: auto;
}

.yt-Panel-Primary3 h2
{
	position: absolute;
	width: 180px;
	margin-left: 18px;
	background: url(../images/dotted_f5ede6.gif) repeat-x 0px 24px #d8c6b9;
	padding: 6px 10px 16px 10px;
	margin-top: -45px;
	text-transform: uppercase;
	color: #766157;
	font-size: 11px;
	font-weight: bold;
	font-family: Georgia;
}


.yt-Panel-Primary3 h3
{
	font-family: Georgia;
	font-size: 140%;
	padding-bottom: 1px; /*padding-left:20px;*/ /*margin-top: 0; <- Fixed for events, needs testing elsewhere */
}

.yt-Panel-Primary3 dt
{
	color: #70594c;
}

#mb_overlay3
{
	position: absolute;
	left: 0;
	width: 100%;
	background-color: #000000;
	z-index: 1600;
	visibility: hidden;
}
#mb_frame3
{
	background-color: transparent;
	position: absolute;
	left: 0;
	width: 100%;
	visibility: hidden;
}

#mb_bottom3
{
	display: none;
}

#mb_center3
{
	position: absolute;
	background-color: transparent;
	z-index: 2000;
	padding: 1px;
	left: 50%;
	width: 600px;
	margin-top: 70px;
}

#mb_header3
{
	position: relative;
	z-index: 12000;
}
#mb_contents3
{
	float: left;
}

#mb_caption3
{
	display: none;
}



#mb_header3 a#mb_close_link
{
	display: block;
	position: absolute;
	right: 8px;
	z-index: 15000;
	background: transparent url(../images/btn_closeSearch.gif) no-repeat scroll 0%;
	float: right;
	font-size: 75%;
	height: 18px;
	padding: 2px 0pt 0pt 7px;
	line-height: 16px;
	text-decoration: none;
	text-transform: uppercase;
	width: 54px;
	cursor: pointer;
	margin-top: 45px;
}


#mb_header3 a#mb_Login_link
{
	display: block;
	position: absolute;
	z-index: 15000;
	float: left;
	font-size: 75%;
	height: 23px;
	padding: 2px 0pt 0pt 7px;
	line-height: 16px;
	text-decoration: none;
	text-transform: uppercase;
	width: 183px;
	cursor: pointer;
	margin-top: 160px;
	margin-left: 100px;
	background: transparent url(../images/Login_Button.png) no-repeat 0 0;
}
#mb_header3 a:hover#mb_Login_link
{
	background-position: 0 -23px;
}


#mb_header3 a#mb_SignUp_link
{
	display: block;
	position: absolute;
	z-index: 15000;
	float: left;
	font-size: 75%;
	padding: 2px 0pt 0pt 7px;
	line-height: 16px;
	text-decoration: none;
	text-transform: uppercase;
	width: 255px;
	cursor: pointer;
	margin-top: 345px;
	margin-left: 175px;
	background: transparent url(../images/Signup.png) no-repeat 0 0;
	height: 53px;
}
#mb_header3 a:hover#mb_SignUp_link
{
	background-position: 0 -53px;
}

#mb_contents3 .yt-ModalWrapper
{
	background-color: #ffffff; /* this wrapper exists purely to fix IE border display bug */
	float: left;
}

#mb_contents3 .yt-Panel-Primary3
{
	display: block;
	float: left;
	z-index: 2500;
	margin-top: 0;
	padding: 12px 12px 6px;
}
#mb_contents3 .yt-Panel-Primary_Popup h2
{
	position: relative;
	margin-top: -45px;
}


#mb_contents3 .yt-Form-Field .hint
{
	z-index: 10000;
	margin-left: 10px;
}

#mb_center3 .yt-Panel-Primary3
{
	min-height: 0 !important;
}


/*---- Ashu till here ---- */
