<?xml version="1.0" encoding="utf-8" ?>
<!--Subversion:$Id: IOVS.config 29987 2008-11-21 08:44:57Z jksharma $-->
<IOVS>

	<Section Name="Sanitation" Id="Sanitation">
		<Field Id="XSSAttack" Name="XSSAttack" DataType="string">
			<Min />
			<Max />
      <!-- ((\<)|&lt;)((\i)|i|(\I))((\m)|m|(\M))((\g)|g|(\G)) -->
			<RegEx>((\%3C)|&lt;)((\%69)|i|(\%49))((\%6D)|m|(\%4D))((\%67)|g|(\%47))</RegEx>
      <!-- ((\<)|&lt;)((\S)|s|(\s))((\C)|c|(\c))((\R)|r|(\r))((\i)|i|(\I))((\P)|p|(\p))((\T)|t|(\t))-->
			<RegEx>((\%3C)|&lt;)((\%53)|s|(\%73))((\%43)|c|(\%63))((\%52)|r|(\%72))((\%69)|i|(\%49))((\%50)|p|(\%70))((\%54)|t|(\%74))</RegEx>
			<MultiOccur />
			<ErrorMessage>Cross site scripting attack detected</ErrorMessage>
		</Field>

		<!-- Added by iqbal for SQL Injection attack-->
		<Field Id="SQLInjectionAttack" Name="SQLInjectionAttack" DataType="string">
      <!--(&lt;script&gt;)|(o)|(O)|(r)|(;)|(=)|(')|(=)|(R)|(<)|(>)(\-\-)-->
			<RegEx>(&lt;script&gt;)|(%6F)|(%4F)|(%72)|(%3B)|(%3D)|(%27)|(%3D)|(%52)|(%3c)|(%3e)</RegEx>
      <!-- |(SELECT)|(UPDATE)|(INSERT)|(DELETE)|(GRANT)|(REVOKE)|(DROP)|(UNION)|(TRUNCATE)|(EXEC)|(EXECUTE)-->
      <RegEx>update .* set .*=.*|INFORMATION_SCHEMA|syscolumns|syscomments|sysdepends|sysfilegroups|sysfiles|sysfiles1|sysforeignkeys|sysfulltextcatalogs|sysfulltextnotify|sysindexes|sysindexkeys|sysmembers|sysobjects|syspermissions|sysproperties|sysprotects|sysreferences|systypes|sysusers|sysconstraints|syssegments|sp_password|sp_addlogin|sp_change|sp_add|sp_drop|;.*declare.*@.*|select .* from .* where|;.*set.*@.*=|TABLE_NAME|NVARCHAR| AND 1=1| OR 1=1|like '|!=|select top |;select top |@@servername|db_name()|system_user()|char\(124\)|('|;|\s).*exec(ute)?\s*\((.*)\)</RegEx>
			<ErrorMessage>Invalid input! Special characters or keywords are not allowed!</ErrorMessage>
		</Field>
	</Section>

	<Section Name="Validation" Id="Validation">
		<!-- For String special Character Validation -->
		<Field Id="SpecialCharacters" Name="SpecialCharacters" DataType="string">
			<RegEx>^[a-zA-Z0-9\s\?\!\-\@\"\”\“\‘\’\'\.\:\#\;\=\+\[\]_\,\%\(\)\/\&amp;]*$</RegEx>
			<ErrorMessage>Please enter valid characters</ErrorMessage>
		</Field>
	</Section>
</IOVS>