BODY {
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif;
	FONT-SIZE: .9 em;
	LINE-HEIGHT: 110%;
	color : #35354D;
}

A:link {
	COLOR: #232377;
}

A:unknown {
	COLOR: #232377;
}

A:hover {
	COLOR: #6464FE;
	text-decoration:none;
}

A:visited{
	COLOR: #232377;
}

H1 {
	font-family: Arial, Helvetica, sans-serif;
	COLOR: #585880;
}

H2 {
	font-family: Arial, Helvetica, sans-serif;
	COLOR: #585880;
}

H3 {
	font-family: Arial, Helvetica, sans-serif;
	COLOR: #585880;
}

H4 {
	font-family: Arial, Helvetica, sans-serif;
	COLOR: #585880;
}

H5 {
	font-family: Arial, Helvetica, sans-serif;
	COLOR: #585880;
}

H6 {
	font-family: Arial, Helvetica, sans-serif;
	COLOR: #585880;
}

.theme_header {
	background-image :url( images/title-bg.gif );
}

.theme_footer {
	background-image :url( images/smokeandglass_fadeblue.gif );
}

.theme_highlighted, {
	background-image :url( images/smokeandglass_blueandwhitef.gif );
}

.theme_fadeblue {
	background-image :url( images/smokeandglass_fadeblue.gif );
}