added by UDham for FB changes:

	<configSections>
    <section type="Facebook.FacebookConfigurationSection, Facebook" name="facebookSettings" allowLocation="true" allowDefinition="Everywhere" />

  <facebookSettings
    appId="169921799743902"
    appSecret="c0ddc17a8ef7bef5bc2af0a86303fd90"
     />

