.uploader, .upload-pane { border: 1px solid #a0a0a0; }

.upload-pane { text-align: left; border-top: 0 none; overflow: auto; padding: 0; margin: 0; list-style-type: none; background-color: #fff; }

.upload-pane-item { border: 1px solid #777; display: inline-block; vertical-align: top; margin: 5px; padding: 5px; position: relative; width: 280px; font-size: 12px; }

.upload-pane-item .thumnail { margin-right: 5px; }

.upload-pane-item a.remove { display: block; padding: 5px; position: absolute; top: 0; right: 0; }
.upload-pane-item .description-field, .upload-pane-item .title-field { width: 150px;font-family:Times New Roman; }

.upload-pane-item .description-field { margin-top: 0px !important; padding-top: 0px !important; overflow: auto; height: 49px; font-family:Times New Roman; }
