body {
	margin: 0;
	padding:0;
	background: transparent;
}
html {
	margin: 0;
	padding:0;
	background: transparent;
}

.yt-Error {
	display:none;
}
.yt-ContentPrimary {
	 background:#FFFFFF url(../images/bg_UserProfile.gif) no-repeat scroll right 5px;
	width:630px; 
}
.yt-Panel-Primary a.yt-Button {
	background-color:#b3aabf!important;
	color:#494949!important;
}
.yt-Panel-Primary div a.yt-Button:hover {
	background-color:#494949!important;
	color:#ffffff!important;
}
.yt-ListItem {
	border: none;
	min-height:130px !important;
	margin-top:18px;
	margin-bottom:0;
	position:relative;
}
.yt-ListItem dl {
	position:absolute;
	bottom:15px;
	left:136px;
	margin-left:0;
}
.yt-ListItem dt {
	width:9em;
	font-weight:bold;
	color:#494949;
}
.yt-ListItem dd {
	margin:0 0 0.2em 9.5em;
}
a.yt-Thumb, label.yt-Thumb {
   position:absolute;
   bottom: 25px;
   right: 500px;
}
img.yt-ProfilePic {
	width:119px;
	height:119px;
	margin:1px;
}
.yt-Form-Field textarea.yt-Form-Textarea-Long {
	width:600px;
}