<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    
  <appSettings>
    <add key="DBName" value="Timeless"/>
    <add key="IOVSRuleBase" value="IOVS.config"/>
    <add key="ForgetPassAdmin" value="marinalan@shaw.ca"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="Timeless" connectionString="Database=Tribute20March2009;Server=172.26.50.19;UID=test;Pwd=momentum;" providerName="System.Data.SqlClient"/>-->
    <!-- <add name="Timeless" connectionString="Database=TributeDev;Server=172.26.180.252;UID=sa;Pwd=sopra123*;" providerName="System.Data.SqlClient"/>-->
    <!-- add name="Timeless" connectionString="Database=TimelessTributePortal; Server=localhost; Trusted_Connection=True;" providerName="System.Data.SqlClient"/ -->
    <!--<add name="Timeless" connectionString="Data Source=HOMEPC-EB3A98EB\SQLEXPRESS;Initial Catalog=TimelessTributePortal;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
    <add name="Timeless" connectionString="Initial Catalog=TributePortal_New;Data Source=OPTIMUS-5\SQLEXPRESS; Integrated Security=true;" providerName="System.Data.SqlClient"></add>
    <!--<add name="Timeless" connectionString="Data Source=OPTIMUS-24DA262\TAILWIND;Initial Catalog=TimelessTributePortal;Integrated Security=False;user id=sa;password=Optimus@123;" providerName="System.Data.SqlClient"/>-->

  </connectionStrings>
</configuration>