<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TributePortalSchedulerService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="DBName" value="Timeless" />
    <!--
    <add key="AccountNumber" value="89999653"/>
    <add key="StoteId" value="test"/>
    <add key="StotePwd" value="test"/>
    <add key="ReferancePrefix" value="TimeLess"/>
    -->
    <add key="AccountNumber" value="99973872" />
    <add key="StoteId" value="7d6f91706-7295-USD" />
    <add key="StotePwd" value="@wob#!bk" />
    <add key="ReferancePrefix" value="YourTribute" />
    <!--<add key="LogFilePath" value="C:\Log.txt"/>
	  <add key="LoggingEnabled" value="1"/>-->
    <add key="AddressSeparator" value="&lt;&gt;" />
    <add key="AddressSeparatorDisplay" value="," />
    <!--vchnage code added start-->
    <add key="OneyearAmount" value="$ 30" />
    <add key="BillingEmail" value="billing@yourtribute.com" />
    <add key="ExpiryReminder" value="Dear Customer,&lt;br&gt;      #FreeTrialPackage #TributeName Tribute will expire on #ExpireDate.&#xD;&#xA;&#xD;&#xA;      To keep the tribute online, follow the link below:&lt;br&gt;&#xD;&#xA; &lt;a href='http://#TributeType.yourtribute.com/#TributeUrl'&gt;http://#TributeType.yourtribute.com/#TributeUrl/&lt;/a&gt;&lt;br&gt;&lt;br&gt;&#xD;&#xA;&#xD;&#xA; ----&lt;br&gt;&#xD;&#xA;      Your Tribute Team " />
    <add key="ExpiredReminder" value="Dear Customer,&lt;br&gt;     #FreeTrialPackage #TributeName Tribute expired on #ExpireDate.&#xD;&#xA;&#xD;&#xA;      To keep the tribute online, follow the link below:&lt;br&gt;&#xD;&#xA;      &lt;a href='http://#TributeType.yourtribute.com/#TributeUrl'&gt;http://#TributeType.yourtribute.com/#TributeUrl/&lt;/a&gt;&lt;br&gt;&lt;br&gt;&#xD;&#xA;&#xD;&#xA;      ----&lt;br&gt;&#xD;&#xA;      Your Tribute Team " />
    <add key="DeleteNotification" value="Dear Customer,&lt;br&gt;  #FreeTrialPackage #TributeName Tribute expired on #ExpireDate and is scheduled to be deleted soon.&#xD;&#xA;&#xD;&#xA;      To keep the tribute online, follow the link below:&lt;br&gt;&#xD;&#xA;      &lt;a href='http://#TributeType.yourtribute.com/#TributeUrl'&gt;http://#TributeType.yourtribute.com/#TributeUrl/&lt;/a&gt;&lt;br&gt;&lt;br&gt;&#xD;&#xA;&#xD;&#xA;      ----&lt;br&gt;&#xD;&#xA;      Your Tribute Team " />
    <add key="MailRenewalFailed" value="Dear #FirstName,&lt;br&gt;   Auto-Renewal of the #TributeName Tribute has failed.&lt;br&gt;     To keep the tribute online, follow the link below:&lt;br&gt;&#xD;&#xA; &lt;a href='http://#TributeType.yourtribute.com/#TributeUrl/'&gt;http://#TributeType.yourtribute.com/#TributeUrl/&lt;/a&gt;&lt;br&gt;&lt;br&gt;&#xD;&#xA;&#xD;&#xA;      ----&lt;br&gt;&#xD;&#xA;      Your Tribute Team " />
    <!--vchnage code added end-->
    <add key="MailAfterRenewal" value="Dear #FirstName,&lt;br&gt;    The #TributeName Tribute renewed on #RenewalDate .&lt;br&gt;     To keep the tribute online, follow the link below:&lt;br&gt;&#xD;&#xA;      &lt;a href='http://#TributeType.yourtribute.com/#TributeUrl'&gt;http://#TributeType.yourtribute.com/#TributeUrl/&lt;/a&gt;&lt;br&gt;&lt;br&gt;&#xD;&#xA;&#xD;&#xA;      ----&lt;br&gt;&#xD;&#xA;      Your Tribute Team " />
    <add key="CreditCardExpiryReminder" value="Dear Customer,&lt;br&gt;The credit card stored in your Your Tribute account will expire in #CCExpireReminder days.&lt;br&gt;&lt;br&gt;&lt;br&gt;If you have a tribute set to auto-renew, please update your billing information as soon as possible to prevent your renewal from being declined.&lt;br&gt;&lt;br&gt;&lt;br&gt;     To update your credit card, follow the link below:&lt;br&gt;&#xD;&#xA;      &lt;a href='http://www.yourtribute.com/log_in.aspx'&gt;http://www.yourtribute.com/log_in.aspx&lt;/a&gt;&lt;br&gt;&lt;br&gt;      ----&lt;br&gt;Your Tribute Team " />
    <!--<add key="MailServer" value="172.26.4.7"/>-->
    <add key="MailServer" value="172.26.4.7" />
    <add key="SponsorEmail" value="ajain@in.sopragroup.com" />
    <!-- Mail sent x days before enddate. Free trial (BEFORE EXPIRY DATE) -->
    <add key="NotifyFreeReminder" value="5" />
    <!-- Mail sent x days before enddate. Yearly (BEFORE EXPIRY DATE) -->
    <add key="NotifyYearlyReminder" value="30" />
    <!-- Mail sent on the enddate. Free trial & 1 year (ON EXPIRY DATE) -->
    <add key="ExpireTributeReminder" value="0" />
    <!-- Mail sent x days after enddate. Free trial (DELETED SOON) -->
    <add key="DeleteFreeReminder" value="30" />
    <!-- Mail sent x days after enddate. Yearly (DELETED SOON) -->
    <add key="DeleteYearlyReminder" value="60" />
    <!-- Mail sent x days before Credit Card Expiry Date -->
    <add key="CCExpireReminder" value="30" />
    <add key="FirstReminder" value="30" />
    <add key="SecondReminder" value="60" />
    <add key="LastReminder" value="90" />
    <add key="WhenExecute" value="11:55 AM" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <!--<add name="Timeless" connectionString="Database=TimelessTributePortal30Dec;Server=ITEM-40198\SQLEXPRESS;Integrated Security=True;" providerName="System.Data.SqlClient"/>-->
    <add name="Timeless" connectionString="Database=Tribute20March2009;Server=172.26.180.252;UID=sa;Pwd=sopra123*;" providerName="System.Data.SqlClient" />
    <!--<add name="Timeless" connectionString="Database=Tribute2;Server=Item-39843;UID=sa;Pwd=sopra123*;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.net>
    <defaultProxy enabled="false" />
  </system.net>
  <applicationSettings>
    <TributePortalSchedulerService.Properties.Settings>
      <setting name="TributePortalSchedulerService_com_optimalpayments_test_webservices1_CreditCardServiceV1" serializeAs="String">
        <value>https://webservices.test.optimalpayments.com/creditcardWS/CreditCardService/v1</value>
      </setting>
    </TributePortalSchedulerService.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>